<div class="form-group">
  <label #labelElement [for]="idInput" class="form-label" [ngClass]="{'text-light': isDarkMode}">
    {{ labelInput }}
    <span *ngIf="isRequired" class="text-danger">*</span>
  </label>
  <input
    #inputElement
    (change)="onChange(value)"
    [disabled]="isDisabled"
    (focusout)="isDirty = true"
    [(ngModel)]="value"
    [attr.aria-describedby]="errors && (isDirty || showError) ? idInput + 'Messages' : undefined"
    [attr.aria-invalid]="errors && (isDirty || showError) ? 'true' : 'false'"
    [attr.aria-required]="isRequired"
    [id]="idInput"
    [name]="nameInput"
    [title]="value"
    class="form-control" [ngClass]="{'form-control-light': isDarkMode}"
    required=""
    type="text">

  <span *ngIf="maxCharacters" class="form-text text-light opacity-50">
    {{ maxCharactersLabel ? maxCharactersLabel : 'Caractères restants' }} : {{ maxCharacters - (value ? value.length : 0) }}
  </span>

  <div *ngIf="errors && (isDirty || showError)">
    <div [id]="idInput + 'Messages'" class="error-group">
      <div *ngFor="let error of errors" class="alert alert-danger m-1" role="alert">
        <i class="bi bi-info-circle"></i> {{ error }}
      </div>

    </div>
  </div>
</div>
